@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.learn-more{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.learn-more .button{
    margin: 2rem;
}
.learn-more .inter-div{
    text-align: center;
    padding: 5rem;
}
.learn-more .inter-div .cards{
    text-align: center;
    
}
.learn-more .inter-div .cards img{
    display: block;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 596px) {
.learn-more .inter-div{
    text-align: center;
    padding: 0;
}
}