@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.content1{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    
}